In [64]:
# Import 7 merge data in one CSV file
import pandas as pd

In [65]:
df1 = pd.read_csv("D:/Plan/Data Analysis/Intern/Proj2/Report1/delivery_sh.csv")
df2 = pd.read_csv("D:/Plan/Data Analysis/Intern/Proj2/Report1/delivery_yt.csv")
df3 = pd.read_csv("D:/Plan/Data Analysis/Intern/Proj2/Report1/delivery_hz.csv")
df4 = pd.read_csv("D:/Plan/Data Analysis/Intern/Proj2/Report1/delivery_cq.csv")
df5 = pd.read_csv("D:/Plan/Data Analysis/Intern/Proj2/Report1/delivery_delivery_jl.csv")

In [66]:
All_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [67]:
print(All_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        object
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      object
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: float64(6), int64(6), object(5)
memory usage: 585.6+ MB
None

In [68]:
#remove duplicate Value
All_df = All_df.drop_duplicates()

In [69]:
print(All_df.value_counts())

order_id  region_id  city       courier_id  lng        lat       aoi_id  aoi_type  accept_time     accept_gps_time  accept_gps_lng  accept_gps_lat  delivery_time   delivery_gps_time  delivery_gps_lng  delivery_gps_lat  ds
0         154        Chongqing  3253        106.26649  29.28891  21674   1         10-23 09:47:00  10-23 09:47:00   106.27495       29.24599        10-23 19:57:00  10-23 19:57:00     106.28845         29.26007          1023    1
3009808   19         Hangzhou   4466        120.15066  30.33448  3427    1         08-11 08:16:00  08-11 08:16:00   120.13945       30.32906        08-11 17:25:00  08-11 17:25:00     120.15125         30.33431          811     1
3009814   3          Hangzhou   2791        120.10391  30.27025  52881   1         05-13 08:18:00  05-13 08:18:00   120.09711       30.27140        05-13 08:54:00  05-13 08:54:00     120.10410         30.27065          513     1
3009813   105        Chongqing  3689        106.58963  29.74705  1675    14        06-02 15:32:00  06-02 15:32:00   106.63519       29.73245        06-02 19:06:00  06-02 19:06:00     106.58967         29.74719          602     1
3009812   0          Hangzhou   3175        120.17760  30.26764  13733   1         08-09 08:49:00  08-09 08:49:00   120.18535       30.28075        08-09 09:34:00  08-09 09:34:00     120.17712         30.26779          809     1
                                                                                                                                                                                                                                  ..
1504930   72         Hangzhou   468         120.08947  30.29175  23182   1         07-08 16:15:00  07-08 16:15:00   120.09766       30.29169        07-08 17:23:00  07-08 17:23:00     120.08959         30.29155          708     1
1504931   110        Chongqing  1259        106.46037  29.59353  43931   1         07-25 14:38:00  07-25 14:38:00   106.49789       29.57342        07-25 17:19:00  07-25 17:19:00     106.46039         29.59378          725     1
1504932   23         Hangzhou   1587        120.20092  30.32312  40949   1         06-20 09:57:00  06-20 09:57:00   120.18489       30.33908        06-20 13:46:00  06-20 13:46:00     120.20112         30.32318          620     1
1504933   45         Shanghai   2411        121.53233  31.04499  17644   1         10-13 13:14:00  10-13 13:14:00   121.52953       31.02338        10-13 15:35:00  10-13 15:35:00     121.53316         31.04534          1013    1
4514660   151        Yantai     2700        121.35143  37.56644  9357    14        10-01 11:02:00  10-01 11:02:00   121.33857       37.54628        10-01 12:39:00  10-01 12:39:00     121.35139         37.56594          1001    1
Name: count, Length: 4511284, dtype: int64

In [70]:
print(All_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        object
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      object
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: float64(6), int64(6), object(5)
memory usage: 585.6+ MB
None

In [71]:
All_df.describe(include = "all")

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
count,4.514661e+06,4.514661e+06,4514661,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4514661,4514661,4.511284e+06,4.511284e+06,4514661,4514661,4.514661e+06,4.514661e+06,4.514661e+06
unique,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,154325,154325,NaN,NaN,173891,173891,NaN,NaN,NaN
top,NaN,NaN,Hangzhou,NaN,NaN,NaN,NaN,NaN,10-22 08:19:00,10-22 08:19:00,NaN,NaN,10-28 11:30:00,10-28 11:30:00,NaN,NaN,NaN
freq,NaN,NaN,1861600,NaN,NaN,NaN,NaN,NaN,270,270,NaN,NaN,122,122,NaN,NaN,NaN
mean,2.257330e+06,7.381683e+01,NaN,2.385268e+03,1.178683e+02,3.084852e+01,2.998049e+04,4.355784e+00,NaN,NaN,1.178629e+02,3.083946e+01,NaN,NaN,1.178634e+02,3.084735e+01,8.112479e+02
std,1.303271e+06,4.538614e+01,NaN,1.390526e+03,5.822634e+00,1.928226e+00,1.729042e+04,5.527705e+00,NaN,NaN,5.853219e+00,1.916018e+00,NaN,NaN,5.867664e+00,1.937424e+00,1.653643e+02
min,0.000000e+00,0.000000e+00,NaN,0.000000e+00,1.020849e+02,2.311348e+01,0.000000e+00,0.000000e+00,NaN,NaN,-9.000000e-05,-9.000000e-05,NaN,NaN,-9.000000e-05,-9.000000e-05,5.010000e+02
25%,1.128665e+06,3.600000e+01,NaN,1.206000e+03,1.199666e+02,3.012185e+01,1.487400e+04,1.000000e+00,NaN,NaN,1.199621e+02,3.010518e+01,NaN,NaN,1.199666e+02,3.012170e+01,7.030000e+02
50%,2.257330e+06,7.100000e+01,NaN,2.345000e+03,1.202321e+02,3.030657e+01,3.005500e+04,1.000000e+00,NaN,NaN,1.202476e+02,3.031297e+01,NaN,NaN,1.202317e+02,3.030687e+01,8.200000e+02
75%,3.385995e+06,1.110000e+02,NaN,3.588000e+03,1.214099e+02,3.118919e+01,4.446400e+04,8.000000e+00,NaN,NaN,1.214002e+02,3.118778e+01,NaN,NaN,1.214098e+02,3.118906e+01,9.290000e+02
max,4.514660e+06,1.670000e+02,NaN,4.876000e+03,1.268191e+02,4.422335e+01,6.014900e+04,1.500000e+01,NaN,NaN,1.266288e+02,4.394521e+01,NaN,NaN,1.397561e+02,4.576194e+01,1.031000e+03

In [72]:
All_df.groupby('city')["accept_gps_lng"].mean()

city
Chongqing    106.552864
Hangzhou     120.145795
Jilin        126.524444
Shanghai     121.472379
Yantai       121.118323
Name: accept_gps_lng, dtype: float64

In [73]:
All_df.groupby('city')["accept_gps_lat"].mean()

city
Chongqing    29.613112
Hangzhou     30.237081
Jilin        43.834309
Shanghai     31.191543
Yantai       37.433689
Name: accept_gps_lat, dtype: float64

In [74]:
#Assigning the average to null values by cities

In [75]:
All_df["accept_gps_lat"] = All_df["accept_gps_lat"].fillna(All_df.groupby('city')["accept_gps_lat"].transform('mean'))

In [76]:
All_df["accept_gps_lat"] = All_df["accept_gps_lat"].fillna(All_df["accept_gps_lat"].mean())

In [77]:
All_df["accept_gps_lng"] = All_df["accept_gps_lng"].fillna(All_df.groupby('city')["accept_gps_lng"].transform('mean'))

In [78]:
All_df["accept_gps_lng"] = All_df["accept_gps_lng"].fillna(All_df["accept_gps_lng"].mean())

In [79]:
All_df.describe(include = "all")

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
count,4.514661e+06,4.514661e+06,4514661,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4.514661e+06,4514661,4514661,4.514661e+06,4.514661e+06,4514661,4514661,4.514661e+06,4.514661e+06,4.514661e+06
unique,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,154325,154325,NaN,NaN,173891,173891,NaN,NaN,NaN
top,NaN,NaN,Hangzhou,NaN,NaN,NaN,NaN,NaN,10-22 08:19:00,10-22 08:19:00,NaN,NaN,10-28 11:30:00,10-28 11:30:00,NaN,NaN,NaN
freq,NaN,NaN,1861600,NaN,NaN,NaN,NaN,NaN,270,270,NaN,NaN,122,122,NaN,NaN,NaN
mean,2.257330e+06,7.381683e+01,NaN,2.385268e+03,1.178683e+02,3.084852e+01,2.998049e+04,4.355784e+00,NaN,NaN,1.178665e+02,3.084575e+01,NaN,NaN,1.178634e+02,3.084735e+01,8.112479e+02
std,1.303271e+06,4.538614e+01,NaN,1.390526e+03,5.822634e+00,1.928226e+00,1.729042e+04,5.527705e+00,NaN,NaN,5.852870e+00,1.930644e+00,NaN,NaN,5.867664e+00,1.937424e+00,1.653643e+02
min,0.000000e+00,0.000000e+00,NaN,0.000000e+00,1.020849e+02,2.311348e+01,0.000000e+00,0.000000e+00,NaN,NaN,-9.000000e-05,-9.000000e-05,NaN,NaN,-9.000000e-05,-9.000000e-05,5.010000e+02
25%,1.128665e+06,3.600000e+01,NaN,1.206000e+03,1.199666e+02,3.012185e+01,1.487400e+04,1.000000e+00,NaN,NaN,1.199621e+02,3.010518e+01,NaN,NaN,1.199666e+02,3.012170e+01,7.030000e+02
50%,2.257330e+06,7.100000e+01,NaN,2.345000e+03,1.202321e+02,3.030657e+01,3.005500e+04,1.000000e+00,NaN,NaN,1.202476e+02,3.031299e+01,NaN,NaN,1.202317e+02,3.030687e+01,8.200000e+02
75%,3.385995e+06,1.110000e+02,NaN,3.588000e+03,1.214099e+02,3.118919e+01,4.446400e+04,8.000000e+00,NaN,NaN,1.214002e+02,3.118779e+01,NaN,NaN,1.214098e+02,3.118906e+01,9.290000e+02
max,4.514660e+06,1.670000e+02,NaN,4.876000e+03,1.268191e+02,4.422335e+01,6.014900e+04,1.500000e+01,NaN,NaN,1.266288e+02,4.394521e+01,NaN,NaN,1.397561e+02,4.576194e+01,1.031000e+03

In [80]:
#Convert object to correct data type time

In [81]:
All_df['accept_time'] = pd.to_datetime(All_df['accept_time'], format='%m-%d %H:%M:%S', errors='coerce')

In [82]:
All_df['delivery_time'] = pd.to_datetime(All_df['delivery_time'], format='%m-%d %H:%M:%S', errors='coerce')

In [83]:
print(All_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        datetime64[ns]
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      datetime64[ns]
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: datetime64[ns](2), float64(6), int64(6), object(3)
memory usage: 585.6+ MB
None

In [84]:
#Convert city and aoi_type to numeric

In [85]:
All_df = pd.get_dummies(All_df, columns=['aoi_type'], drop_first=True)

In [86]:
All_df = pd.get_dummies(All_df, columns=['city'], drop_first=True)

In [87]:
# select Latitude range from -90 to 90.
# Longitude range from -180 to 180.

In [88]:
All_df = All_df[(All_df['lat'].between(-90, 90)) & (All_df['lng'].between(-180, 180))]

In [89]:
# Calculate delivery_duration in minutes

In [90]:
All_df['delivery_duration'] = (pd.to_datetime(All_df['delivery_time']) - pd.to_datetime(All_df['accept_time'])).dt.total_seconds() / 60

In [91]:
# Detect outliers using Z-score

In [92]:
from scipy.stats import zscore

In [93]:
# Calculate Z-scores

In [94]:
z_scores = zscore(All_df['delivery_duration'].dropna())  # Drop NA for Z-score calculation
outliers = (z_scores < -3) | (z_scores > 3)  # Outlier threshold
All_df = All_df[~outliers]  # Remove outliers

In [95]:
print(All_df.isnull().sum())

order_id             0
region_id            0
courier_id           0
lng                  0
lat                  0
aoi_id               0
accept_time          0
accept_gps_time      0
accept_gps_lng       0
accept_gps_lat       0
delivery_time        0
delivery_gps_time    0
delivery_gps_lng     0
delivery_gps_lat     0
ds                   0
aoi_type_1           0
aoi_type_2           0
aoi_type_3           0
aoi_type_4           0
aoi_type_5           0
aoi_type_6           0
aoi_type_7           0
aoi_type_8           0
aoi_type_9           0
aoi_type_10          0
aoi_type_11          0
aoi_type_12          0
aoi_type_13          0
aoi_type_14          0
aoi_type_15          0
city_Hangzhou        0
city_Jilin           0
city_Shanghai        0
city_Yantai          0
delivery_duration    0
dtype: int64

In [96]:
# Save the CSV file

In [97]:
All_df.to_csv('All_delivery.csv', index=False)